body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.logo h1 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #3498db;
    transition: 1s;
}

.burger{
    width: 30px;
    height: 30px;
    display: none;
}

.burger span:nth-child(2) {
    width: 30px;
    border: 2px solid;
    background: black;
    transform: translate(-1px, 17px);
    display: block;
    border-radius: 28px;
}

.burger span:nth-child(1) {
    width: 30px;
    border: 2px solid;
    background: black;
    transform: translate(-1px, 12px);
    display: block;
    border-radius: 28px;
}

.burger span:nth-child(3) {
    width: 30px;
    border: 2px solid;
    background: black;
    transform: translate(-1px, -5px);
    display: block;
    border-radius: 28px;
}
.nav_mobile{
    display: none;
}

/* Main Content Styles */
.main-content {
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
}

.films_block {
    width: 95%;
    padding: 15px;
    min-height: 780px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.categorys{
    display: flex;
    border-top: 1px solid rgba(0,0,0,.08);
    margin-left: 0.5%;
    margin-bottom: 20px;
}
.categorys p{
    color: #bdbdbd;
}

.categorys a{
    color: #bdbdbd;
}

.films_block img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.film {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
}
.films_block h2 {
    color: #333;
}

.films_block p {
    color: #666;
}

.films_block a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
.films_block a:hover {
    color:black;
    transition: 0.5s;
}

/* Footer Styles */
footer {
    background-color: #484242;
    color: white;
    text-align: center;
    padding: 10px;
}



/* Адаптация */

@media (max-width:600px){
    .burger{
        width: 30px;
        height: 30px;
        display: block;
    }
    .menu{
        display: none;
    }
    .nav_toggle{
            display: block;
            POSITION: absolute;
            background: #b3b3b3;
            LEFT: 0;
            width: 29%;
            height: -webkit-fill-available;
            backdrop-filter: blur(5px);
    }

}