body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

/* Header Styles */
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.logo h1 {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #3498db;
    transition: 1s;
}

.burger{
    width: 25px;
    height: 0px;
    display: none;
}

.menu_mobile{
    display: none;
}


.burger span:nth-child(2) {
    width: 25px;
    border: 2px solid;
    background: black;
    transform: translate(-1px, 17px);
    display: block;
    border-radius: 28px;
}

.burger span:nth-child(1) {
    width: 25px;
    border: 2px solid;
    background: black;
    transform: translate(-1px, 12px);
    display: block;
    border-radius: 28px;
}

.burger span:nth-child(3) {
    width: 25px;
    border: 2px solid;
    background: black;
    transform: translate(-1px, -5px);
    display: block;
    border-radius: 28px;
}
.burg_open span:nth-child(3),span:nth-child(3){
    width: 30px;
    transition: 1s;
}
.burg_open span:nth-child(2){
    width: 30px;
    transition: 1s;
}

.burg_open span:nth-of-type(1) {
    display: none;
  }
  .burg_open span:nth-of-type(2) {
    top: 50%;
    transform: translate(-52%, 92%) rotate(43deg);
  }
  .burg_open span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg); 
  }

/* Main Content Styles */
.main-content {
    display: flex;
    justify-content: space-around;
    margin: 12px 0;
}

.films_block {
    width: 95%;
    padding: 15px;
    min-height: 780px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.categorys{
    display: flex;
    border-top: 1px solid rgba(0,0,0,.08);
    margin-left: 0.5%;
    margin-bottom: 20px;
}
.categorys p{
    color: #bdbdbd;
}

.cats{
    cursor: pointer;
}

.categorys a{
    color: #bdbdbd;
}

.films_block img {
    width: fit-content;
    border-radius: 5px;
    margin-bottom: 10px;
}

.one_film img{
    width: 50%;
    height: fit-content;
    border-radius: 5px;
    margin-bottom: 10px;
}

.film {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    padding-bottom: 2%;
}



.addfilms:hover{
    transition: 1s;
    background-color: #9999c9;
}

.black_window {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 50%;
    top:5%;
}

.filmfomr{
    display: none;
    position: fixed;
    width: 500px;
    height: 500px;
    background: aliceblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flextoform{
    display: flex;
}

.filmfomr p{
    position: absolute;
    right: 0;
    top: 0;
    color:red;
    font-size: xx-large;
}

.filmfomr p:hover{
    transition: 1s;
    background-color: #333;
    cursor: pointer;
}

.filmfomr form{
    display: flex;
    flex-direction: column;
}

.filmfomr form .sendform{
    margin-top: 8%;
    height: 29px;
}

.addfilms {
    border: 1px solid;
    width: 140px;
    height: 28px;
    text-align: center;
    color: black;
    transition: 1s;
    cursor: pointer;
}

.film_info {
    display: flex;
    padding-top: 1%;
    padding-left: 8%;
    width: 85%;
    flex-direction: column;
}

.film_info p{
    padding-left: 1%;
    padding-bottom:1% ;
}

.film_info2{
    display: flex;
    min-height: 500px;
    justify-content: center;
}

.film_info2 .new_p{
    width: 50%;
}

.film_info h2{
    text-align: center;
}
.film_name{
    text-align: center;
}

.films_block h2 {
    color: #333;
}

.films_block p {
    color: #666;
    overflow-wrap: break-word;
    width: 100%;
}

.films_block a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
}
.films_block a:hover {
    color:black;
    transition: 0.5s;
}

/* Footer Styles */
footer {
    background-color: #484242;
    color: white;
    text-align: center;
    padding: 10px;
}

.comments{
    border-top: 1px solid rgba(0,0,0,.08);
    display: flex;
    flex-direction: column;
}

.comments h3{
    line-height: 0;
    padding-left: 1%;
}

.comment {
    display: flex;
    margin-top: 1%;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,.15);
}

.com_name{
    font-family: fantasy;
}

.commentadd{
    width: min-content;
}

/* Адаптация */

@media (min-width:400px) and (max-width:600px){
    .burgnav_toggle {
        position: absolute;
        left: 53% !important; 
    }
    .menu_mobile li {
        padding-bottom: 6% !important;
        margin-bottom: 12% !important;
    }
}

@media (max-width:600px){
    .menu_mobile {
        display: flex;
        flex-direction: column;
        min-height: 64%;
        justify-content: center;
    }
    .burger{
        display: block;
        z-index: 10;
    }
    .menu{
        display: none;
    }
    .nav_toggle{
        background: #333;
        LEFT: 0;
        position: fixed;
        top: 0;
        width: 37%;
        height: -webkit-fill-available;
        backdrop-filter: blur(5px);
        transition: 0.7s;
        display: block;
        z-index: 10;
        padding: 0 1.5em 1.5em;
    }
    .burgnav_toggle {
        position: absolute;
        left: 57%;
    }
    .nav_off{
            width: 29%;
            position: absolute;
            left: -500px;
            transition: 1s;
            height: -webkit-fill-available;
            display: block;
    }
    .window_on{
        background-color: rgba(0,0,0,0.4);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        transition: opacity 0.2s ease-in-out;
        z-index: 1;
    }
    .menu_mobile a{
        text-decoration: none;
        color: white;
        padding-top: 1em;
        padding-bottom: 1em;
        padding: 0.6em 0.5em;
    }
    .menu_mobile li {
        border-bottom: 1px solid rgb(224 230 255 / 8%);
        list-style-type: none;
        padding-bottom: 5%;
        margin-bottom: 21%;
        font-size: 19px;
        }
        .film_info2 {
            flex-direction: column;
        }
        .films_block img {
            width: 79%;
        }
        .film_info2{
            justify-content: flex-start;
        }
        .film_info2 .new_p {
            width:100%;
        }
        .filmfomr {
            width: 92%;
        }
}

